#widget-container h2 {
    color: var(--theia-ui-font-color1);
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
    text-transform: uppercase;
}

.theia-icon {
    background-image: url('../icons/Logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 4px;
    weight: 20px;
    height: 20px;
}
